<div class="about">
  <h1>Jacques-Antoine</h1>
  <h2>de Cugnac</h2>

  <h3>Développeur fullstack</h3>

  <p>Je suis un développeur fullstack diplômé de la formation intensive du Wagon. Issu d'un parcours philosophique et littéraire, je n'ai eu aucun mal à me prendre de passion pour le code et à m'investir dans tous les projets que j'ai menés depuis le début de mon apprentissage, car la construction d'un site web se révèle être une succession de défis que je me plais à résoudre comme autant de jeux.</p>
  <p>Si j'ai appris en peu de temps à aimer explorer les potentialités du langage que j'utilise, à construire une application et à la perfectionner continuement, c'est que, avant toute chose, j'aime par-dessus tout apprendre, et appliquer mon esprit à la résolution de nouveaux problèmes.</p>

  <%= link_to "Voir mes travaux", projects_path %>
</div>
