<div class="about">
  <h1>Jacques-Antoine</h1>
  <h2>de Cugnac</h2>

  <h3>Développeur backend</h3>

  <p>Je suis un développeur backend diplômé de la formation intensive du Wagon. Issu d'un parcours littéraire, je n'ai eu aucun mal à me prendre de passion pour le code et à m'investir dans tous les projets personnels que j'ai menés depuis, car la construction d'un site web se révèle être une succession de défis que je me plais à résoudre comme autant de jeux.</p>

  <%= link_to "Voir mes travaux", projects_path %>
</div>
