<h1>Contact</h1>

<div class="contact-page">
  <div class="contact">
    <h2>Réseaux</h2>
    <div class="icons">
      <p><a href="https://github.com/jadc96" class="fa-brands fa-github"></a></p>
      <p><a href="https://www.linkedin.com/in/jacques-antoine-de-cugnac/" class="fa-brands fa-linkedin"></a></p>
    </div>
  </div>

  <div class="form">
  <h2>Me laisser un message directement</h2>
    <form action="https://formsubmit.co/7815167c138791817ffbe8c07de03b0e" method="POST">
      <input type="hidden" name="_captcha" value="false">
      <input type="hidden" name="_next" value="http://www.jadc.quest/thanks/">
      <div class="field">
        <input type="text" name="name" placeholder="Nom" required>
      </div>
      <div class="field">
        <input type="text" name="email" placeholder="Adresse mail" required>
      </div>
      <div class="field">
        <textarea name="text" id="msg" cols="30" rows="10" placeholder="Votre message" required></textarea>
      </div>
      <div class="btn">
        <button type="submit">Envoyer</button>
      </div>
    </form>
  </div>
</div>
