<div class="contact">
  <h1>Contact</h1>

  <p><i class="fa-regular fa-envelope"></i>ja.decugnac@outlook.com</p>
  <p><a href="https://github.com/jadc96" class="fa-brands fa-github"></a></p>
  <p><a href="https://www.linkedin.com/in/jacques-antoine-de-cugnac/" class="fa-brands fa-linkedin"></a></p>
</div>
