<h1>Projets</h1>

<div class="projects">
  <h2>Furniture Finder</h2>

  <div class="project">
    <div class="text">
      <h5>Le projet</h5>
      <p>Furniture Finder est le premier projet réalisé en groupe au terme de la formation du Wagon. Il s'agit de reprendre l'architecture du site d'Airbnb en y intégrant, autant que possible en une semaine, les principales fonctionnalités apprises, sur un thème libre. Nous avons ainsi choisi
      de développer un site permettant la location de meubles, en pensant notamment aux étudiants de passage quelques mois dans une ville. Au terme des quelques jours échus à ce travail, nous sommes parvenus à développer les fonctionnalités suivantes : système d'inscription et de connexion (Devise), sécurité des url (Pundit), hébergement d'images (Cloudinary), JavaScript (Stimulus), géolocalisation des annonces sur une carte (Geocoder), sélection de dates (Flatpickr), barre de recherche, création d'annonces.</p>
      <h5>Ma part du travail</h5>
      <p>La répartition des tâches au sein du groupe m'a permis de me concentrer essentiellement sur le back : Devise, Pundit, Geocoder, Flatpickr. J'ai donc pu appliquer mes connaissances à la construction d'un site plus complexe et approfondir ces connaissances afin que les fonctionnalités développées s'adaptent aux changements apportés au fur et à mesure par chacun.</p>
      <p>Ce premier projet a bien sûr été l'occasion de mettre en place tous les bons réflexes concernant le travail à plusieurs et la gestion du code sur Git et Github.</p>
      <h5>Le schéma de DB</h5>
      <a href="https://res.cloudinary.com/djyykxv2u/image/upload/v1661452725/Portfolio/furniture_schema_wy1bvf.png" target="_blank">
        <img src="https://res.cloudinary.com/djyykxv2u/image/upload/v1661452725/Portfolio/furniture_schema_wy1bvf.png" alt="" style="width: 250px">
      </a>
    </div>

    <div class="image">
      <a href="https://furnitures-finder.herokuapp.com/"><img src="https://res.cloudinary.com/djyykxv2u/image/upload/v1661504619/Portfolio/furniture-finder_xz8pff.png" alt=""></a>
    </div>
  </div>

  <h2>Castrvm</h2>

  <div class="project">
    <div class="image">
      <a href="https://castrvm.quest/"><img src="https://res.cloudinary.com/djyykxv2u/image/upload/v1661504619/Portfolio/castrvm-img_wy8bzh.png" alt=""></a>
    </div>

    <div class="text">
      <h5>Le projet</h5>
      <p>Ce projet est la reprise et la continuation du projet précédent par mes propres moyens. Il ne s'agit plus cette fois de louer des meubles, mais des châteaux. Outre ce changement de produit, ce site est une version débuggée et plus aboutie du précédent :
      <p>BACK</p>
      <ul>
        <li>ajout d'un système de paiment (Stripe)</li>
        <li>ajout d'un statut pour chaque réservation (en attente, payée)</li>
        <li>possibilité de mettre une annonce en favori</li>
        <li>dashboard permettant de consulter toutes les réservations (effectuées ou à finaliser) et les annonces mises en favoris</li>
        <li>système de commentaires vérifiés (grâce à une référence unique générée lors de chaque réservation)</li>
      </ul>
      <p>FRONT</p>
      <ul>
        <li>création d'une gallerie pour consulter toutes les photos d'une annonce</li>
        <li>utilisation de JavaScript pour obtenir un autocomplete sur le champ "adresse" lors de la création d'une annonce</li>
        <li>seeds plus travaillées (photos concordantes, descriptif, prix, etc.)</li>
        <li>design responsive pour toutes les nouvelles pages créées</li>
        <li>mise en valeur de la carte, formulaire de paiement "sticky", etc.</li>
      </ul>
      <p>PRODUCTION</p>
      <ul>
        <li>achat d'un nom de domaine et hébergement (GoDaddy)</li>
        <li>certificat SSL avec Cloudflare</li>
        <li>installation de Hotjar sur toutes les pages du site pour l'analyse du comportement des visiteurs</li>
      </ul>
      <h5>Ma part du travail</h5>
      <p>La grande valeur ajoutée de ce projet est avant tout de m'avoir permis de gérer l'intégralité des différents aspects de la construction d'un site. J'ai pu non seulement ajouter des fonctionnalités backend, mais j'ai dû revoir également tout le front pour atteindre le résultat souhaité, ce qui m'a en outre permis de me pencher sur tout ce qui avait été fait par mes collègues, de le comprendre et de le réviser au besoin. Il en a résulté pour moi une compréhension infiniment plus fine des imbrications de toutes les parties du code entre elles, et une connaissance beaucoup plus détaillée de toutes les technologies utilisées pour le site. Pour n'en citer qu'une : JavaScript, que je n'avais pas eu à utiliser dans la version précédente.</p>
      <h5>Le schéma de DB</h5>
      <a href="https://res.cloudinary.com/djyykxv2u/image/upload/v1661452725/Portfolio/castrvm_schema_kodlaa.png" target="_blank">
        <img src="https://res.cloudinary.com/djyykxv2u/image/upload/v1661452725/Portfolio/castrvm_schema_kodlaa.png" alt="" style="width: 250px">
      </a>
    </div>
  </div>

  <h2>Claps</h2>

  <div class="project">
    <div class="text">
      <h5>Le projet</h5>
      <p>Claps est le résultat de deux semaines de travail en groupe (le deuxième projet effectué au Wagon). Il s'agit d'une application web pensée pour les téléphones permettant de mettre d'accord, avec le plus de justesse possible, différentes personnes souhaitant regarder un film ensemble. Un des utilisateurs crée un groupe, auquel il peut convier les utilisateurs qu'il aura au préalable ajoutés en ami. Dès lors, chacun, sur son application, peut accéder à un questionnaire évaluant différents critères. Un algorithme traite les réponses de chaque participant, priorise les critères convergents des différents utilisateurs, et permet ainsi de trouver les films les plus à même de satisfaire les goûts de tout le monde.
      Inscription/connexion (Devise), ajout d'ami, création de groupe, formulaires sous forme de quiz, algorithme de tri, favoris, API, mode solo</p>
      <h5>Ma part du travail</h5>
      <p>Pour ce projet, je me suis d'abord concentré sur le back, notamment sur la mise en place et l'écriture de l'algorithme, selon les informations disponibles sur l'API TMDB. J'ai ensuite revu le front pour trouver une solution satisfaisante de design responsive, l'application ayant initialement été codée pour un format téléphone.</p>
      <h5>Le schéma de DB</h5>
      <a href="https://res.cloudinary.com/djyykxv2u/image/upload/v1661452725/Portfolio/claps_schema_hnfpdz.png" target="_blank">
        <img src="https://res.cloudinary.com/djyykxv2u/image/upload/v1661452725/Portfolio/claps_schema_hnfpdz.png" alt="" style="width: 250px">
      </a>
    </div>

    <div class="image">
      <a href="http://www.claps.quest/"><img src="https://res.cloudinary.com/djyykxv2u/image/upload/v1661504619/Portfolio/claps_hvwaqv.png" alt=""></a>
    </div>

  </div>
</div>
