<h1>Compétences</h1>

<div class="skills">
  <div class="languages">
    <h3>Langages</h3>
    <p>Ruby - Ruby on Rails</p>
    <p>PostgreSQL</p>
    <p>JavaScript - Stimulus</p>
    <p>HTML5</p>
    <p>CSS3</p>
  </div>

  <div class="gems">
    <h3>Ruby Tools</h3>
    <p>Active Record</p>
    <p>Devise</p>
    <p>Pundit</p>
    <p>Geocoder</p>
    <p>Simple form</p>
  </div>

  <div class="others">
    <h3>Autres</h3>
    <p>Stripe</p>
    <p>Heroku</p>
    <p>Cloudinary</p>
    <p>Cloudflare</p>
    <p>Hotjar</p>
  </div>

</div>
