<h1>Compétences</h1>

<p>Ruby - Ruby on Rails</p>
<p>PostgreSQL</p>
<p>JavaScript - Stimulus</p>
<p>HTML5</p>
<p>CSS3</p>

<h3>Ruby Tools</h3>
<ul>
<li>Active Record</li>
<li>Devise</li>
<li>Pundit</li>
<li>Geocoder</li>
<li>Simple form</li>
</ul>

<h3>Autres</h3>
<p>Heroku</p>
<p>Cloudinary</p>
<p>Stripe</p>
