.navbar {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: auto;
  padding: 20px;
}

.navbar a {
  text-decoration: none;
  color: #CCD6F6;
  transition: 0.2s;
}

.navbar a:hover {
  color: #2cebb1;
  transition: 0.2s;
}
