/* Pages */

@import "pages/index";
@import "pages/about";
@import "pages/contact";
@import "pages/projects";

/* Components */

@import "components/_navbar";

a {
  text-decoration: none;
  color: #2cebb1;
}

p {
  color: #bcc5e1;
  text-align: justify;
  line-height: 1.5rem;
}

li {
  color: #bcc5e1;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #CCD6F6;
}

.container {
  margin: 20px 70px;
}

img {
  border-radius: 4px;
}
